altair
annotated-types
anyio
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
colorama
confection
cymem
distro
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl
et_xmlfile
filelock
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
lxml
marisa-trie
MarkupSafe
mpmath
murmurhash
narwhals
networkx
nltk
numpy
openai
openpyxl
packaging
pandas
pathlib_abc
pathy
pillow
preshed
protobuf
pyarrow
pydantic
pydantic_core
pydeck
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
sympy
tenacity
thinc
threadpoolctl
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
wasabi
watchdog
